@model Login

@{	
    ViewData["Title"] = "PaginaAdm";

}

<div class="text-xl-center">
    <h1>Olá, Administrador!!!</h1>
    <br />
    <h1>O que deseja fazer?</h1>
    <br />
    <br />
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">            
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Pagina Home</a>
            </li>
            <br />
            <li class="nav-item">
                <a class="btn btn-primary" asp-area="" asp-controller="Aluno" asp-action="Index">Pagina de Alunos</a>
            </li>
            <br />
            <li class="nav-item">
                <a class="btn btn-primary" asp-area="" asp-controller="Curso" asp-action="Index">Pagina de Cursos</a>
            </li>
            <br />
            <li class="nav-item">
                <a class="btn btn-primary" asp-area="" asp-controller="Matricula" asp-action="Index">Pagina de Matriculas</a>
            </li>                     
        </ul>
    </div>
</div>

